body {
    font-family: Times New Roman, sans-serif;
    text-align: center;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
    background: #f8f9fa;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #619191;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #619191;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode .container {
    background: #2d7c8a;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}
